* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f4f4f4;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #6f25c4;
    height: 100vh;
    padding: 30px 20px;
    position: fixed;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #dcdde1;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background: #575fcf;
    color: #fff;
    border-radius: 5px;
}

/* Main Content */
.main-content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px;
}

.main-content h1 {
    color: #333;
    margin-bottom: 15px;
}